<div class="panel panel-default announcement">
    <div class="panel-body">
        <h4>
            {{announcement.subject | emptyNotAvailable}}
            <small class="pull-right">{{announcement.timestamp *1000 | date:'yyyy-MM-dd HH:mm:ss'}}</small>
        </h4>
        <p style="white-space: pre-wrap">{{announcement.text}}</p>
    </div>
    <div class="panel-footer" style="height: 41px; padding: 5px;">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-danger btn-sm" ng-click="remove();">Remove</button>
        </div>
    </div>
</div>
