<div class="modal-header">
    <button class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Send a new message</h4>
</div>
<div class="modal-body">
    <form id="message_create_form" name="form" class="form-horizontal" ng-submit="create();" novalidate>
        <div class="form-group" ng-class="{'has-error': !form.user.$valid}">
            <label for="message_create_user" class="col-md-3 control-label">To user</label>
            <div class="col-md-9">
                <select id="message_create_user" name="user" class="form-control" ng-model="user" ng-options="user._ref as user.username + ' (' + user.first_name + ' ' + user.last_name + ')' for user in user_list" ng-init="user = user_list[0]._ref;"></select>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': !form.subject.$valid}">
            <label for="message_create_subject" class="col-md-3 control-label">Subject</label>
            <div class="col-md-9">
                <input type="text" id="message_create_subject" name="subject" class="form-control" ng-model="subject">
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': !form.text.$valid}">
            <label for="message_create_text" class="col-md-3 control-label">Text</label>
            <div class="col-md-9">
                <textarea id="message_create_text" name="text" class="form-control" ng-model="text"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close();">Close</button>
    <button type="submit" form="message_create_form" class="btn btn-primary" ng-disabled="!form.$valid">Send</button>
</div>
