<div class="panel panel-default question" ng-class="{'panel-warning': !isIgnored() && !isAnswered()}">
    <div class="panel-body">
        <h4>
            {{question.subject | emptyNotAvailable}}
            <small class="pull-right">
                from
                <span tooltip="{{users[question.user].first_name}} {{users[question.user].last_name}}" tooltip-placement="top">
                    <a ng-href="#!/users/{{question.user}}">{{users[question.user].username}}</a>
                </span>
                / {{question.question_timestamp *1000 | date:'yyyy-MM-dd HH:mm:ss'}}
            </small>
        </h4>
        <p style="white-space: pre-wrap">{{question.text}}</p>
    </div>
    <div class="panel-body" ng-show="isAnswered() && !answering">
        <h4>
            {{question.reply_subject | emptyNotAvailable}}
            <small class="pull-right">{{question.reply_timestamp *1000 | date:'yyyy-MM-dd HH:mm:ss'}}</small>
        </h4>
        <p style="white-space: pre-wrap">{{question.reply_text}}</p>
    </div>
    <div class="panel-body" ng-show="!isAnswered() && isIgnored() && !answering">
        <h5 style="text-align: center; text-style: italic;">
            Ignored
        </h5>
    </div>
    <div class="panel-body" ng-show="answering">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter subject" ng-model="reply_subject">
        </div>
        <div class="form-group">
            <textarea class="form-control" placeholder="Enter text" ng-model="reply_text"></textarea>
        </div>
    </div>
    <div class="panel-body" ng-hide="isIgnored() || isAnswered() || answering">
        <h5 style="text-align: center; text-style: italic;">
            Not answered yet
        </h5>
    </div>
    <div class="panel-footer" style="height: 41px; padding: 5px;">
        <div class="btn-group pull-right" ng-hide="answering || isAnswered()">
            <button type="button" class="btn btn-primary btn-sm" ng-click="startAnswering();">Reply</button>
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ng-click="answer('Yes', '');">Reply "Yes"</a></li>
                <li><a ng-click="answer('No', '');">Reply "No"</a></li>
                <li><a ng-click="answer('Answered in task description', '');">Reply "Answered in task description"</a></li>
                <li><a ng-click="answer('Invalid question', '');">Reply "Invalid question"</a></li>
                <li><a ng-click="answer('No comment', '');">Reply "No comment"</a></li>
            </ul>
        </div>
        <div class="btn-group pull-right" ng-hide="answering || !isAnswered()">
            <button type="button" class="btn btn-warning btn-sm" ng-click="startAnswering();">Edit</button>
        </div>
        <div class="btn-group pull-right" ng-hide="answering || isAnswered() || isIgnored()" style="margin-right: 5px;">
            <button type="button" class="btn btn-warning btn-sm" ng-click="ignore();">Ignore</button>
        </div>
        <div class="btn-group pull-right" ng-hide="answering || isAnswered() || !isIgnored()" style="margin-right: 5px;">
            <button type="button" class="btn btn-default btn-sm" ng-click="unignore();">Unignore</button>
        </div>
        <div class="btn-group pull-right" ng-show="answering">
            <button type="submit" class="btn btn-primary btn-sm" ng-click="answer(reply_subject, reply_text);">Reply</button>
        </div>
        <div class="btn-group pull-right" ng-show="answering" style="margin-right: 5px;">
            <button type="button" class="btn btn-default btn-sm" ng-click="answering = false;">Cancel</button>
        </div>
    </div>
</div>
