<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Shard</th>
            <th>Connected</th>
            <th>Current job description</th>
            <th>Since</th>
    </thead>
    <tbody>
        <tr ng-hide="areWorkersAvailable()">
            <td colspan="4">
                No Workers available.
            </td>
        </tr>
        <tr ng-repeat="(shard, status) in workers">
            <th>{{shard}}</th>
            <td>{{status.connected | booleanYesNo}}</td>
            <td>{{status.job | nullNotAvailable | jobDescription}}</td>
            <td>{{status.start_time *1000 | nullNotAvailable | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
    </tbody>
</table>
