<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Allenamenti OII</a>
    </div>
    <div class="navbar-collapse collapse" ng-controller="NavbarCtrl">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActivePage(1)}"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li ng-class="{active: isActivePage(3)}"><a href="#!/tasks"><span class="glyphicon glyphicon-list"></span> Archivio problemi</a></li>
        <li ng-show="!isLogged()" ng-class="{active: isActivePage(2)}"><a href="#!/signup"><span class="glyphicon glyphicon-pencil"></span> Sign up</a></li>
      </ul>
      <div ng-show="!isLogged()">
        <form class="navbar-form navbar-right" name="signinform" ng-submit="signin()">
          <div class="form-group">
            <input class="form-control" maxlength="15" type="text" id="username" name="username" ng-model="user.username" placeholder="Username" />
          </div>
          <div class="form-group">
            <input class="form-control" type="password" id="password" name="password" ng-model="user.password" placeholder="Password" />
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
        </form>
      </div>
      <div ng-show="isLogged()">
        <form class="navbar-form navbar-right" name="signoutform" ng-submit="signout()">
          <b>{{user.username}}</b>, <button type="submit" class="btn btn-success">Sign Out</button>
        </form>
      </div>
    </div><!--/.navbar-collapse -->
  </div>
</div>
