<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" ng-controller="SignCtrl">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActiveTab(1)}">
          <a ui-sref="overview"><i class="icon-home icon-large"></i> Home</a>
        </li>
        <li ng-class="{active: isActiveTab(2)}">
          <a ui-sref="tasks"><i class="icon-list icon-large"></i> Archivio problemi</a>
        </li>
        <li ng-class="{active: isActiveTab(6)}">
          <a ui-sref="forums"><i class="icon-comments icon-large"></i> Forum</a>
        </li>
        <li ng-class="{active: isActiveTab(3)}">
          <a ui-sref="tests"><i class="icon-pencil icon-large"></i> Test</a>
        </li>
        <li ng-class="{active: isActiveTab(4)}">
          <a ui-sref="ranks"><i class="icon-trophy icon-large"></i> Classifiche</a>
        </li>
        <li ng-class="{active: isActiveTab(5)}" ng-show="!isLogged()">
          <a ui-sref="signup"><i class="icon-pencil icon-large"></i> Sign up</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="!isLogged()" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-large"></i> Sign in <b class="caret"></b></a>
          <div class="dropdown-menu">
            <form class="signin-form" role="form" name="signinform" ng-submit="signin()">
              <div class="form-group">
                <input class="form-control" maxlength="15" type="text" id="username" name="username" ng-model="user.username" placeholder="Username" />
              </div>
              <div class="form-group">
                <input class="form-control" type="password" id="password" name="password" ng-model="user.password" placeholder="Password" />
              </div>
              <button type="submit" class="btn btn-success"><i class="icon-signin"></i> Sign in</button>
            </form>
          </div>
        </li>
        <li ng-show="isLogged()">
          <form class="navbar-form navbar-right" name="signoutform" ng-submit="signout()">
            <b class="user-brand">{{getUsername()}}</b>
            <button type="submit" class="btn btn-success"><i class="icon-signout"></i> Sign Out</button>
          </form>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>
