<div>
  <legend>{{$window.task.title}}</legend>
  <ul class="nav nav-tabs">
    <li ng-class="{active: isActiveTab('task')}" ng-click="setActiveTab('task')">
      <a><i class="icon-file-text icon-large"></i> Testo</a>
    </li>
    <li ng-class="{active: isActiveTab('stats')}" ng-click="setActiveTab('stats')">
      <a><i class="icon-bar-chart icon-large"></i> Statistiche</a>
    </li>
    <li ng-class="{active: isActiveTab('submissions')}" ng-click="setActiveTab('submissions')" ng-show="isLogged()">
      <a><i class="icon-code icon-large"></i> Sottoposizioni</a>
    </li>
  </ul>
</div>
