<div>
  <legend>{{$window.task.title}}</legend>
  <ul class="nav nav-tabs">
    <li ng-class="{active: isActiveTab('statement')}">
      <a ui-sref=".statement"><i class="icon-file-text icon-large"></i> Testo</a>
    </li>
    <li ng-class="{active: isActiveTab('attachments')}" ng-show="$window.task.attachments.length">
      <a ui-sref=".attachments">
        <span class="att-total badge pull-right">{{$window.task.attachments.length}}</span>
        <i class="icon-paper-clip icon-large"></i> Allegati
      </a>
    </li>
    <li ng-class="{active: isActiveTab('stats')}">
      <a ui-sref=".stats"><i class="icon-bar-chart icon-large"></i> Statistiche</a>
    </li>
    <li ng-class="{active: isActiveTab('submissions')}" ng-show="isLogged()">
      <a ui-sref=".submissions"><i class="icon-code icon-large"></i> Sottoposizioni</a>
    </li>
    <li id="memoLimit" class="pull-right" data-trigger="hover" data-placement="bottom" data-title="Limite di memoria" data-content="La quantità di memoria, in MiB, disponibile per l'esecuzione di un testcase.">
      <a><i class="icon-stackexchange icon-large"></i> {{$window.task.memory_limit}} MiB</a>
    </li>
    <li id="timeLimit" class="pull-right" data-trigger="hover" data-placement="bottom" data-title="Limite di tempo" data-content="La quantità di tempo, in secondi, disponibile per l'esecuzione di un testcase.">
      <a><i class="icon-time icon-large"></i> {{$window.task.time_limit}} sec</a>
    </li>
  </ul>
</div>
