body {
  padding-top:70px;
  padding-bottom:20px;
}

.notifications{
  width: 100%;
}

.notifications .notification{
  width: 15%;
  float: right;
  padding-right: 2px;
  padding-top: 2px;
  margin-right: 1%;
  clear: both;
  text-align: justify;
}

.notifications .notification .close{
  line-height: 0.5;
}

.notifications .notification div{
  padding-right: 15px;
  padding-top: 10px;
}
