html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
  padding-bottom: 20px;
}

.notifications {
  position: fixed;
  z-index: 1;
  width: 250px;
  right: 0px;
  padding-right: 10px;
}

.notifications .notification {
  width: 100%;
  padding-right: 2px;
  padding-top: 2px;
  text-align: justify;
}

.notifications .notification .close {
  line-height: 0.5;
}

.notifications .notification div {
  padding-right: 15px;
  padding-top: 10px;
}

.viewer {
  width: 100%;
  height: 600px;
}

@media (min-width: 768px){
  .viewer {
    height: 800px;
  }
}

@media (min-width: 992px){
  .viewer {
    height: 900px;
  }
}

@media (min-width: 1170px){
  .viewer {
    height: 1000px;
  }
}
