html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
  padding-bottom: 20px;
}

.wider-modal {
  width: 700px;
}

a {
  cursor: pointer;
}

a:focus {
  outline: none;
}

a.dont-underline:hover {
  text-decoration: none;
}

.hyphenate {
  text-align: justify;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

/* Navbar */

.user-brand {
  color: #999;
  padding-right: 10px;
}

.signin-form {
  width: 250px;
  padding: 15px;
}

/* Notification alerts */

.notifications {
  position: fixed;
  right: 10px;
  z-index: 500;
}

.notifications .alert {
  position: relative;
  width: 250px;
  right: 0px;
}

/* Pagination */

.pagination {
  margin: 0px 0px 5px 0px;
}

/* Task list */

.search-by-tag {
  margin-bottom: 10px;
}

.list-group-item .label {
  vertical-align: middle;
}

/* Task page */

iframe.viewer {
  margin-top: 1px;
}

/* Taskbar */

ul.nav-tabs {
  border-bottom: none;
}

ul.nav-tabs > li > a {
  border-bottom-color: #DDD !important;
}

.tab-badge-total {
  margin-left: 5px;
}

.topleft-fix {
  border-top-left-radius: 0px;
}

/* User page */

.userbadge.admin {
  color: red;
}

.userbadge.admin .label {
  background-color: pink;
  text-transform: uppercase;
}

/* Submissions */

#submission_detail .modal-body {
  max-height: 600px;
  overflow-y: scroll;
}

/* Signup page */

.user-preview {
  text-align: center;
}

.user-preview .nome-cognome {
  text-transform: capitalize;
}

.avatar-wrapper {
  position: relative;
  margin: auto;
  width: 200px;
}

.avatar {
  width: 200px;
  height: 200px;
}

.avatar-loader {
  position: absolute;
  right: 78px;
  top: 95px;
}

/* Submission page */

table.submissions {
  table-layout: fixed;
}

table.submissions th {
  background-color: #FFD !important;
}

.no-submissions {
  text-align: center;
  font-style: italic;
}

.submissions tbody+tbody {
  border-top: none;
}

.submission .files {
  padding: 0;
}

.submissions .files div>a {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  padding: 8px;
}

.submissions .files div li, .submissions .files div ul {
  text-align: center;
  width: 100%;
}

.submissions .files div {
  display: block;
  width: 100%;
}

.sub-notdone {
  color: rgb(58, 135, 173);
  background-color: rgb(217, 237, 247) !important;
}

.sub-full {
  color: rgb(70, 136, 71);
  background-color: rgb(223, 240, 216) !important;
}

.sub-partial {
  color: rgb(192, 152, 83);
  background-color: rgb(252, 248, 227) !important;
}

.sub-zero {
  color: rgb(185, 74, 72);
  background-color: rgb(242, 222, 222) !important;
}

/* Tests */

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
  border-right: 0px;
}

.test p {
  text-align: justify;
}

.input-group .form-control.number {
  width: 80px;
  text-align: center;
}

.test .list-group-item .list-group {
  border: 0;
  box-shadow: none;
}

.correct, .correct.list-group-item {
    color: rgb(70, 136, 71);
    background-color: rgb(223, 240, 216);
    border-color: rgb(214, 233, 198);
}

.empty, .empty.list-group-item {
    color: rgb(58, 135, 173);
    background-color: rgb(217, 237, 247);
    border-color: rgb(188, 232, 241);
}

.partial, .partial.list-group-item {
    color: rgb(192, 152, 83);
    background-color: rgb(252, 248, 227);
    border-color: rgb(251, 238, 213);
}

.wrong, .wrong.list-group-item {
    color: rgb(185, 74, 72);
    background-color: rgb(242, 222, 222);
    border-color: rgb(238, 211, 215);
}

/* Forum */

.editor-forum {
  height: auto;
  min-height: 60px;
  max-height: 400px;
  overflow-y: scroll;
  resize: vertical;
}

.forum-group dl {
  margin: 0px;
}

.forum-group .panel-body {
  padding: 0px;
}

.forum-group .panel-body:not(.topic) dl {
  padding: 5px 0px 5px 0px;
  border-bottom: 1px solid #EEE;
}

.forum-group .panel-heading:not(.topic) {
  padding-left: 0px;
  padding-right: 0px;
}

.forum-group .panel-body dl:nth-child(even) {
  background-color: #FFF;
}

.forum-group .panel-body dl:nth-child(odd) {
  background-color: #F9F9F9;
}

.forum-group.focus-light .panel-body dl:hover {
  background-color: #FFD;
}

.forum-group .panel-body dl:last-child {
  border-radius: 0px 0px 3px 3px;
}

.forum-top {
  margin-bottom: 10px;
}

.forum-top .badge {
  margin-left: 5px;
  margin-top: 2px;
}

#showAll {
  display: none;
}

/* Topic view */

.small-avatar {
  width: 85px;
  height: 85px;
}

.forum-group.post dd {
  vertical-align: top;
  display: table-cell;
}

.forum-group.post .panel-heading {
  border-bottom: 1px solid #CCC;
}

.forum-group.post .panel-heading:not(:first-child) {
  border-top: 1px solid #DDD;
}

.forum-group .sidebar {
  width: 150px;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

.forum-group .sidebar.bordered {
  border-right: 1px solid #DDD;
  background-color: #F6F9FC;
}

.forum-group .sidebar.head {
  padding: 3px 0px 3px 0px;
}

.forum-group .mainbar {
  width: 552px;
}

.forum-group .mainbar.head {
  padding: 3px 0px 3px 10px;
}

.forum-group .mainbar.head .pull-right {
  padding-right: 10px;
}

.forum-group.post .panel-heading {
  padding: 0px;
}

.forum-group .panel-heading:not(:first-child) {
  border-radius: 0px;
}

.forum-group .message {
  padding: 5px 5px 5px 10px;
  word-break: break-word;
}

.forum-group .message blockquote {
  background-color: #F6F9FC;
  border: 1px solid #ADCDDD;
  border-left-width: 4px;
}

@media (min-width: 768px){
  .forum-group .mainbar {
    width: 568px;
  }
}

@media (min-width: 992px){
  .forum-group .mainbar {
    width: 788px;
  }
}

@media (min-width: 1170px){
  .forum-group .mainbar {
    width: 988px;
  }
}

/* PDF.JS */

.viewer {
  width: 100%;
  height: 600px;
}

@media (min-width: 768px){
  .viewer {
    height: 800px;
  }
}

@media (min-width: 992px){
  .viewer {
    height: 900px;
  }
}

@media (min-width: 1170px){
  .viewer {
    height: 1000px;
  }
}
