html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
  padding-bottom: 20px;
}

a {
  cursor: pointer;
}

a:focus {
  outline: none;
}

.hyphenate {
  text-align: justify;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

/* Navbar */

.user-brand {
  color: #999;
  padding-right: 10px;
}

.signin-form {
  width: 250px;
  padding: 15px;
}

/* Notification alerts */

.notifications {
  position: fixed;
  right: 10px;
}

.notifications .alert {
  position: relative;
  width: 250px;
  right: 0px;
}

/* Taskbar */

.tab-badge-total {
  margin-left: 5px;
}

/* Submissions */

#submission_detail .modal-body {
  max-height: 600px;
  overflow-y: scroll;
}

/* Signup page */

.user-preview {
  text-align: center;
}

.user-preview .nome-cognome {
  text-transform: capitalize;
}

.avatar-wrapper {
  position: relative;
  margin: auto;
  width: 200px;
}

.avatar {
  width: 200px;
  height: 200px;
}

.avatar-loader {
  position: absolute;
  right: 78px;
  top: 95px;
}

/* Submission page */
.no-submissions {
  text-align: center;
  font-style: italic;
}

.submission {
  cursor: pointer;
}

.submissions tbody+tbody {
  border-top: none;
}

.submission .files {
  padding: 0;
}

.submissions .files div>a {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  padding: 8px;
}

.submissions .files div li, .submissions .files div ul {
  text-align: center;
  width: 100%;
}

.submissions .files div {
  display: block;
  width: 100%;
}

.sub-notdone {
  color: rgb(58, 135, 173);
  background-color: rgb(217, 237, 247) !important;
}

.sub-full {
  color: rgb(70, 136, 71);
  background-color: rgb(223, 240, 216) !important;
}

.sub-partial {
  color: rgb(192, 152, 83);
  background-color: rgb(252, 248, 227) !important;
}

.sub-zero {
  color: rgb(185, 74, 72);
  background-color: rgb(242, 222, 222) !important;
}

/* Tests */
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
  border-right: 0px;
}

.test p {
  text-align: justify;
}

.input-group .form-control.number {
  width: 80px;
  text-align: center;
}

.test .list-group-item .list-group {
  border: 0;
  box-shadow: none;
}

.correct, .correct.list-group-item {
    color: rgb(70, 136, 71);
    background-color: rgb(223, 240, 216);
    border-color: rgb(214, 233, 198);
}

.empty, .empty.list-group-item {
    color: rgb(58, 135, 173);
    background-color: rgb(217, 237, 247);
    border-color: rgb(188, 232, 241);
}

.partial, .partial.list-group-item {
    color: rgb(192, 152, 83);
    background-color: rgb(252, 248, 227);
    border-color: rgb(251, 238, 213);
}

.wrong, .wrong.list-group-item {
    color: rgb(185, 74, 72);
    background-color: rgb(242, 222, 222);
    border-color: rgb(238, 211, 215);
}

/* Forum */

.forum-group dl {
  margin: 0px;
}

.forum-group dd {
  display: inline-block;
  vertical-align: top;
}

.forum-group .panel-body {
  padding: 0px;
}

.forum-group .panel-body dl {
  padding: 5px 15px 5px 15px;
}

.forum-group .panel-body dl:not(:first-child) {
  border-top: 1px solid #EEE;
}

.forum-group .content {
  width: 50%;
}

.forum-group .count {
  width: 8%;
}

.topic table > tbody > tr > td {
    border-top: none;
}

.topic li {
    padding: 0;
}

.topic table {
    margin: 0;
}

.topic table td:first-child {
    border-right: 1px solid rgb(221, 221, 221);
}

/* PDF.JS */

.viewer {
  width: 100%;
  height: 600px;
}

@media (min-width: 768px){
  .viewer {
    height: 800px;
  }
}

@media (min-width: 992px){
  .viewer {
    height: 900px;
  }
}

@media (min-width: 1170px){
  .viewer {
    height: 1000px;
  }
}
