html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
  padding-bottom: 20px;
}

a {
  cursor: pointer;
}

.hyphenate {
  text-align: justify;
   -ms-word-break: break-all;
       word-break: break-all;
       word-break: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

/* Navbar */

.user-brand {
  color: #999;
  padding-right: 10px;
}

.signin-form {
  width: 250px;
  padding: 15px;
}

/* Notification alerts */

.notifications {
  position: fixed;
  right: 10px;
}

.notifications .alert {
  position: relative;
  width: 250px;
  right: 0px;
}

/* Signup page */

.user-preview {
  text-align: center;
}

.avatar-wrapper {
  position: relative;
  margin: auto;
  width: 200px;
}

.avatar {
  width: 200px;
  height: 200px;
}

.avatar-loader {
  position: absolute;
  right: 78px;
  top: 95px;
}

/* Submission page */
.no-submissions {
  text-align: center;
  font-style: italic;
}

.submission {
  cursor: pointer;
}

.submissions tbody+tbody {
  border-top: none;
}

.submission .files {
  padding: 0;
}

.submissions .files div>a {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  padding: 8px;
}

.submissions .files div li, .submissions .files div ul {
  text-align: center;
  width: 100%;
}

.submissions .files div {
  display: block;
  width: 100%;
}

.sub-notdone {
  color: rgb(58, 135, 173);
  background-color: rgb(217, 237, 247) !important;
}

.sub-full {
  color: rgb(70, 136, 71);
  background-color: rgb(223, 240, 216) !important;
}

.sub-partial {
  color: rgb(192, 152, 83);
  background-color: rgb(252, 248, 227) !important;
}

.sub-zero {
  color: rgb(185, 74, 72);
  background-color: rgb(242, 222, 222) !important;
}

/* PDF.JS */

.viewer {
  width: 100%;
  height: 600px;
}

@media (min-width: 768px){
  .viewer {
    height: 800px;
  }
}

@media (min-width: 992px){
  .viewer {
    height: 900px;
  }
}

@media (min-width: 1170px){
  .viewer {
    height: 1000px;
  }
}
