<div class="container">
  <div ng-repeat="year in ioi" style="margin-bottom: 10px">
    <em>Anno IOI: {{year}}</em>
    <div class="tag-group">
      <span class="tag-group-item" style="padding: 5px;" ng-if="year != 2010">
        <a ui-sref="tasklist.page({tag: 'ioi' + year + ',territoriali', pageNum: 1})" class="label btn-info">
          <i class="fa fa-tag"></i> selezioni territoriali
        </a>
      </span>
      <span class="tag-group-item" style="padding: 5px;" ng-if="year == 2010">
        <a class="label btn-warning" title="non svolte">
          <i class="fa fa-tag"></i> selezioni territoriali
        </a>
      </span>
      <span class="tag-group-item" style="padding: 5px;" ng-if="year != 2009">
        <a ui-sref="tasklist.page({tag: 'ioi' + year + ',nazionali', pageNum: 1})" class="label btn-info" ng-if="year != 2016">
          <i class="fa fa-tag"></i> selezioni nazionali
        </a>
        <a href="http://bit.ly/IqT6zt" class="label btn-info" ng-if="year == 2016">
          <i class="fa fa-tag"></i> selezioni nazionali
        </a>
      </span>
      <span class="tag-group-item" style="padding: 5px;" ng-if="year == 2009">
        <a class="label btn-warning" title="non svolte">
          <i class="fa fa-tag"></i> selezioni nazionali
        </a>
      </span>
    </div>
  </div>
</div>
