<div class="container">
  <ol class="breadcrumb">
    <li class="active">{{'Forums' | l10n}}</li>
  </ol>
  <div class="forum-group focus-light panel panel-info">
    <div class="panel-heading">
      <dl class="row">
        <dd class="content col-xs-6"><b>{{'Forums' | l10n}}</b></dd>
        <dd class="count col-md-1 hidden-xs hidden-sm">{{'Topics' | l10n}}</dd>
        <dd class="count col-sm-1 visible-sm">{{'Top.' | l10n}}</dd>
        <dd class="count col-md-1 hidden-sm hidden-xs">{{'Posts' | l10n}}</dd>
        <dd class="lastpost col-xs-6 col-sm-5 col-md-4">{{'Last post' | l10n}}</dd>
      </dl>
    </div>
    <div class="panel-body">
      <dl class="row" ng-repeat="forum in forums">
        <dd class="content col-xs-6">
          <a ui-sref="forum.page({ forumId: forum.id, pageNum: 1 })"><b>{{forum.title}}</b></a>
          </br>
          {{forum.description}}
        </dd>
        <dd class="count col-sm-1 hidden-xs">{{forum.topics}}</dd>
        <dd class="count col-md-1 hidden-sm hidden-xs">{{forum.posts}}</dd>
        <dd class="lastpost col-xs-6 col-sm-5 col-md-4" ng-show="forum.posts"> {{lastPage.get(forum.lastpost.num)}}
          <a ui-sref="topic.page({ topicId: forum.lastpost.topic_id, pageNum: lastPage(forum.lastpost.num) })" title="{{'Go to post' | l10n}}">
            <b>{{forum.lastpost.topic_title}}</b>
          </a>
          </br>
          {{forum.lastpost.timestamp | dateFmt}} &middot; {{'by' | l10n}} <a ui-sref="user({userId: forum.lastpost.username})">{{forum.lastpost.username}}</a>
          <!-- TODO: meno dati marginali (data/ora) da mobile -->
        </dd>
        <dd class="lastpost col-xs-6 col-sm-5 col-md-4" ng-hide="forum.posts">
          {{'No posts' | l10n}}
        </dd>
      </dl>
    </div>
  </div>
</div>
