<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="forums">Forum</a></li>
    <li class="active">{{forumTitle}}</li>
  </ol>
  <div class="row">
    <div class="forum-top col-sm-8">
      <button class="btn btn-md btn-success" ng-click="newTopic()" ng-show="isLogged()">
        <i class="fa fa-file-text"></i>
        Scrivi un nuovo argomento
      </button>
      <button id="showNoAns" class="btn btn-md btn-info" ng-click="onlyUnans()" ng-show="unansweredTopics && isLogged()">
        <span class="badge pull-right">{{unansweredTopics}}</span>
        Argomenti senza risposte
      </button>
      <button id="showAll" class="btn btn-md btn-warning" ng-click="showAll()" ng-show="isLogged()">
        Tutti gli argomenti
      </button>
    </div>
    <div class="col-sm-4">
      asd
    </div>
  </div>
  <div class="forum-group focus-light panel panel-info">
    <div class="panel-heading">
      <dl>
        <dd class="content"><b>Argomenti</b></dd>
        <dd class="count">Risposte</dd>
        <dd class="count">Visite</dd>
        <dd class="lastpost">Ultima risposta</d>
      </dl>
    </div>
    <div class="panel-body">
      <dl ng-repeat="topic in topics">
        <dd class="content">
          <i class="fa fa-{{topic.status | getIcon}}"></i>
          <a ui-sref="topic({ topicId: topic.id })"><b>{{topic.title}}</b></a>
          </br>
          di <a>wil93</a> &middot; {{topic.timestamp | dateFmt}} <!-- FIXME -->
        </dd>
        <dd class="count">{{topic.posts-1}}</dd>
        <dd class="count">{{topic.views}}</dd>
        <dd class="lastpost" ng-show="topic.posts-1"> <!-- FIXME -->
          di <a>wil93</a>
          <a ui-sref="overview" title="Vai al messaggio">
            <i class="fa fa-share-square-o"></i>
          </a>
          </br>
          {{1000000000 | dateFmt}}
        </dd>
        <dd class="lastpost" ng-hide="topic.posts-1">
          Non ci sono risposte
        </dd>
      </dl>
    </div>
  </div>
</div>
