<div class="container">
  <ol class="breadcrumb">
    <li class="active">Forum</li>
  </ol>
  <div class="forum-group focus-light panel panel-info">
    <div class="panel-heading">
      <dl class="row">
        <dd class="content col-xs-6"><b>Forum pubblici</b></dd>
        <dd class="count col-md-1 hidden-xs hidden-sm">Argomenti</dd>
        <dd class="count col-sm-1 visible-sm">Arg.</dd>
        <dd class="count col-md-1 hidden-sm hidden-xs">Messaggi</dd>
        <dd class="lastpost col-xs-6 col-sm-5 col-md-4">Ultimo messaggio</dd>
      </dl>
    </div>
    <div class="panel-body">
      <dl class="row" ng-repeat="forum in forums">
        <dd class="content col-xs-6">
          <a ui-sref="forum({ forumId: forum.id })"><b>{{forum.title}}</b></a>
          </br>
          {{forum.description}}
        </dd>
        <dd class="count col-sm-1 hidden-xs">{{forum.topics}}</dd>
        <dd class="count col-md-1 hidden-sm hidden-xs">{{forum.posts}}</dd>
        <dd class="lastpost col-xs-6 col-sm-5 col-md-4" ng-show="forum.posts"> <!-- FIXME: correggere vari ui-sref -->
          <a ui-sref="overview"><b>{{forum.lastpost.topic_title}}</b></a>
          </br>
          {{forum.lastpost.timestamp | dateFmt}} &middot; di <a ui-sref="user({userId: forum.lastpost.username})">{{forum.lastpost.username}}</a> <!-- TODO: meno dati marginali (data/ora) da mobile -->
          <a ui-sref="overview" title="Vai al messaggio">
            <i class="fa fa-share-square-o"></i>
          </a>
        </dd>
        <dd class="lastpost col-xs-6 col-sm-5 col-md-4" ng-hide="forum.posts">
          Non ci sono messaggi
        </dd>
      </dl>
    </div>
  </div>
</div>
