<div class="container">
  <ol class="breadcrumb">
    <li><a ui-sref="forums">Forum</a></li>
    <li><a ui-sref="forum">{{forumTitle}}</a></li>
    <li class="active">{{title}}</li>
  </ol>
  <ul class="list-group topic">
    <li ng-repeat="post in posts" class="list-group-item">
      <table class="table borderless">
        <tr>
          <td class="text-center col-sm-2">
            <img src="http://gravatar.com/avatar/{{post.author_mailhash}}?d=identicon&s=75" />
            <br/>
            {{post.author_username}}
          </td>
          <td>
            <small class="pull-right">{{post.timestamp | dateFmt}}</small>
            {{post.text}}
          </td>
        </tr>
      </table>
    </li>
  </ul>
  <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#new_post">Rispondi</button>
  <div class="modal fade" id="new_post" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Nuova risposta</h4>
        </div>
        <div class="modal-body">
            <textarea ng-model="newText" class="form-control" rows="3" placeholder="Scrivi una risposta..."></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="newPost()">Invia</button>
        </div>
      </div>
    </div>
  </div>
</div>
