<div>
  <div class="jumbotron" style="margin-top:-20px">
    <div class="container">
      <h2>{{'overview.jumbotron.title' | l10n}}</h2>
      <p>{{'overview.jumbotron.text' | l10n}}</p>
    </div>
  </div>
  <div class="container">
    <div class="row hidden-xs">
      <div class="col-sm-4">
        <h2>{{'overview.col1.title' | l10n}}</h2>
      </div>
      <div class="col-sm-4">
        <h2>{{'overview.col2.title' | l10n}}</h2>
      </div>
      <div class="col-sm-4">
        <h2>{{'overview.col3.title' | l10n}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h2 class="visible-xs">{{'overview.col1.title' | l10n}}</h2>
        <p>{{'overview.col1.text' | l10n}}</p>
        <p class="visible-xs"><a class="btn btn-default" ui-sref="tasks({pageNum: 1})">{{'overview.col1.button' | l10n}} &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <h2 class="visible-xs">{{'overview.col2.title' | l10n}}</h2>
        <p>{{'overview.col2.text' | l10n}}</p>
        <p class="visible-xs"><a class="btn btn-default" ui-sref="ranking({pageNum: 1})">{{'overview.col2.button' | l10n}} &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <h2 class="visible-xs">{{'overview.col3.title' | l10n}}</h2>
        <p>{{'overview.col3.text' | l10n}}</p>
        <p class="visible-xs"><a class="btn btn-default" ui-sref="forums">{{'overview.col3.button' | l10n}} &raquo;</a></p>
      </div>
    </div>
    <div class="row hidden-xs">
      <div class="col-sm-4">
        <p><a class="btn btn-default" ui-sref="tasks({pageNum: 1})">{{'overview.col1.button' | l10n}} &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <p><a class="btn btn-default" ui-sref="ranking({pageNum: 1})">{{'overview.col2.button' | l10n}} &raquo;</a></p>
      </div>
      <div class="col-sm-4">
        <p><a class="btn btn-default" ui-sref="forums">{{'overview.col3.button' | l10n}} &raquo;</a></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <a href="http://www.aicanet.it/">
        <img class="col-xs-4" src="../../assets/ico/aica.jpg"/>
      </a>
      <a href="http://www.olimpiadi-informatica.it/">
        <img class="col-xs-4" src="../../assets/ico/oii.png" style="background-color: #1E90FF; background-clip: content-box;"/>
      </a>
      <a href="http://www.istruzione.it/">
        <img class="col-xs-4" src="../../assets/ico/miur.jpg"/>
      </a>
    </div>
  </div>
</div>
