<div>
  <div class="container">
    <img width="100%" src="assets/ico/miur_big.jpg" />
  </div>
  <div class="jumbotron">
    <div class="container">
      <h2>Corso Online per Potenziare le Competenze Digitali</h2>
      <p>Benvenuto nella piattaforma ufficiale del corso per le competenze digitali.</p>
    </div>
  </div>
  <div class="container">
    <h2>News</h2>
    <ul>
      <li class="new"><b>14 gennaio 2014.</b> Sono in linea le prime videolezioni del corso di programmazione in Pascal (sotto "Materiale").</li>
      <li><b>9 dicembre.</b> Sono state mandate le credenziali per accedere alla <a href="http://cms.di.unipi.it/digit/">piattaforma di programmazione e forum</a>. Nella piattaforma è possibile accedere a tutti i problemi di programmazione delle olimpiadi, insieme a problemi dedicati ai docenti (e non accessibili dagli studenti). Se non avete ricevuto le credenziali mandate una mail a <a href="mailto:info@olimpiadi-informatica.it">info@olimpiadi-informatica.it</a>.</li>
      <li><b>13 novembre 2013.</b> Sono in linea i primi contenuti del corso.</li>
    </ul>
  </div>
</div>
