<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <form class="form-horizontal" role="form" ng-submit="submit()" name="signupform">
        <fieldset>
          <legend>Dati di accesso al sito</legend>
          <div class="form-group" ng-class="{'has-error': signupform.username.$dirty && isBad['username']}">
            <label class="col-lg-4 control-label" for="username1">Username</label>
            <div class="col-lg-6">
              <input class="form-control" maxlength="15" autocomplete="off" type="text" id="username1" name="username" ng-model="user.username" ng-change="checkUsername()"/>
              <span class="help-block" ng-show="signupform.username.$dirty && isBad['username']">{{errorMsg['username']}}</span>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': signupform.password.$dirty && isBad['password']}">
            <label class="col-lg-4 control-label" for="password1">Password</label>
            <div class="col-lg-6">
              <input class="form-control" autocomplete="off" type="password" id="password1" name="password" ng-model="user.password" ng-change="checkPassword(); matchPassword()"/>
              <span class="help-block" ng-show="signupform.password.$dirty && isBad['password']">{{errorMsg['password']}}</span>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': signupform.password2.$dirty && isBad['password2']}">
            <label class="col-lg-4 control-label" for="password2">Ripeti password</label>
            <div class="col-lg-6">
              <input class="form-control" autocomplete="off" type="password" id="password2" name="password2" ng-model="user.password2" ng-change="matchPassword()"/>
              <span class="help-block" ng-show="signupform.password2.$dirty && isBad['password2']">{{errorMsg['password2']}}</span>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Dati personali</legend>
          <div class="form-group">
            <label class="col-lg-4 control-label" for="firstname">Nome</label>
            <div class="col-lg-6">
              <input class="form-control" maxlength="30" autocomplete="off" type="text" id="firstname" ng-model="user.firstname"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label" for="lastname">Cognome</label>
            <div class="col-lg-6">
              <input class="form-control" maxlength="30" autocomplete="off" type="text" id="lastname" ng-model="user.lastname"/>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': signupform.email.$dirty && isBad['email']}">
            <label class="col-lg-4 control-label" for="email1">Indirizzo email</label>
            <div class="col-lg-6">
              <input class="form-control" autocomplete="off" type="text" id="email1" name="email" ng-model="user.email" ng-change="checkEmail(); matchEmail()"/>
              <span class="help-block" ng-show="signupform.email.$dirty && isBad['email']">{{errorMsg['email']}}</span>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': signupform.email2.$dirty && isBad['email2']}">
            <label class="col-lg-4 control-label" for="email2">Ripeti indirizzo email</label>
            <div class="col-lg-6">
              <input class="form-control" autocomplete="off" type="text" id="email2" name="email2" ng-model="user.email2" ng-change="matchEmail()"/>
              <span class="help-block" ng-show="signupform.email2.$dirty && isBad['email2']">{{errorMsg['email2']}}</span>
            </div>
          </div>
        </fieldset>
        <div class="form-group">
          <div class="col-lg-offset-4 col-lg-8">
            <button type="submit" class="btn btn-default">Registrati</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <legend>Anteprima dell'utente</legend>
      <div class="well well-lg col-lg-offset-2 col-lg-8" style="text-align: center">
        <img id="avatar" src="http://placekitten.com/200/200" class="img-thumbnail"/>
        <h2>{{{true: user.username, false: '(username)'}[user.username.length > 0]}}</h2>
        {{{true: user.firstname, false: '(nome)'}[user.firstname.length > 0] | capitalize}} {{{true: user.lastname, false: '(cognome)'}[user.lastname.length > 0] | capitalize}}
      </div>
    </div>
  </div>
</div>
