<form>
  <fieldset>
    <legend>Dati di accesso al sito</legend>
    <label>Username</label>
    <input type="text" id="username"/>
    <label>Password</label>
    <input type="password" id="password"/>
    <label>Ripeti password</label>
    <input type="password" id="password2"/>
    <legend>Dati personali</legend>
    <label>Nome</label>
    <input type="text" id="firstname"/>
    <label>Cognome</label>
    <input type="text" id="lastname"/>
    <label>Indirizzo email</label>
    <input type="email" id="email"/>
    <label>Ripeti indirizzo email</label>
    <input type="email" id="email2"/>
    <label class="checkbox">
      <input type="checkbox"> Inviami un'email per ogni nuovo problema reso disponibile sul sito.
    </label>
    <button type="submit" class="btn">Registrati</button>
  </fieldset>
</form>
