<div class="container">
  <ul class="nav nav-tabs">
    <li ng-click="setActiveTab('task')">
      <a>Testo</a>
    </li>
    <li ng-click="setActiveTab('stats')">
      <a>Statistiche</a>
    </li>
    <li class="active">
      <a>Sottomissioni</a>
    </li>
  </ul>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Invia una sottoposizione</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" ng-submit="submitFile()">
        <div class="form-group" ng-repeat="file in task.submission_format">
          <label class="control-label col-lg-3" for="{{file}}">{{file | repext}}</label>
          <div class="col-lg-9">
            <input type="file" id="{{file}}" name="{{file}}"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn btn-success">Invia</button>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Sottoposizioni precedenti</h3>
    </div>
    <div class="panel-body row">
      <!-- TODO -->
    </div>
  </div>
</div>
