<div class="container">
  <taskbar></taskbar>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Invia una sottoposizione</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" ng-submit="loadFiles()" id="submitform">
        <div class="form-group" ng-repeat="file in $window.task.submission_format">
          <label class="control-label col-lg-3" for="{{file}}">{{file | repext}}</label>
          <div class="col-lg-9">
            <input type="file" id="{{file}}" name="{{file}}"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-3 col-lg-9">
            <button type="submit" class="btn btn-success">Invia</button>
          </div>
        </div>
      </form>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Sottoposizioni precedenti</h3>
    </div>
    <div class="panel-body row">
      <table class="table table-bordered table-striped">
        <tr>
          <th>Id</th>
          <th>Data e ora</th>
          <th>Stato</th>
        </tr>
        <tr ng-show="submissions.length==0">
            <td colspan=3 class="no-submissions">nessuna sottoposizione</td>
        </tr>
        <tr ng-repeat="sub in submissions[taskName]">
            <td>{{sub.id}}</td>
            <td>{{sub.time}}</td>
            <td class="{{sub.cl}}">{{sub.status}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
