<div class="talkpage container">
  <legend>Conversazione con {{recipientName}}</legend>
  <div class="forum-group post panel panel-info">
    <a id="showMore" style="height: 30px;border-bottom: 1px solid #DDD;text-align: center;padding-top: 4px;display: block;" class="panel-heading" ng-click="downloadMore()">
      Carica messaggi precedenti
    </a>
    <dl class="panel-body" ng-repeat="pm in pms">
      <dd class="sidebar bordered">
        <strong>
          <a ui-sref="user({userId: pm.sender.username})">{{pm.sender.username}}</a>
        </strong>
        <br />
        <a class="dont-underline" title="Go to user's page" ui-sref="user({userId: pm.sender.username})">
          <img ng-cloak class="small-avatar img-thumbnail" ng-src="{{me.getGravatar(pm.sender, 75)}}">
        </a>
        <br />
        <small>
          {{pm.timestamp | dateFmt}}
        </small>
      </dd>
      <dd class="mainbar" style="position:relative;">
        <div class="message" ng-bind-html="pm.text"></div>
      </dd>
    </dl>
    <dl class="panel-body">
      <dd class="sidebar bordered">
        <strong>
          <a ui-sref="user({userId: me.getUser().username})">{{me.getUser().username}}</a>
        </strong>
        <br />
        <a class="dont-underline" title="Go to user's page" ui-sref="user({userId: me.getUser().username})">
          <img class="small-avatar img-thumbnail" ng-src="{{me.getGravatar(me.getUser(), 75)}}">
        </a>
      </dd>
      <dd class="mainbar">
        <div text-angular="text-angular" ta-toolbar="{{me.getForumToolbar(me.getUser())}}" ta-text-editor-class="editor-forum form-control"
             ta-toolbar-button-class="btn btn-xs btn-default" name="newText" ng-model="newText" >
      </dd>
    </dl>
  </div>
  <div class="row container" id="bottom">
    <button class="col-xs-6 btn btn-lg btn-info" ng-click="checkNew()" style="width: 50%;">
      <i class="fa fa-refresh"></i>
      {{'Check new messages' | l10n}}
    </button>
    <button class="col-xs-6 btn btn-lg btn-success" ng-click="sendMessage()" style="width: 50%;">
      <i class="fa fa-file-text"></i>
      {{'Send message' | l10n}}
    </button>
  </div>
</div>
