<div class="topleft-fix panel panel-default">
  <div class="topleft-fix panel-heading">
    <h3 class="panel-title">{{'user.bar.profile' | l10n}}</h3>
  </div>
  <div class="panel-body row">
    <div class="col-lg-6">
      <h3 class="userbadge {{user.access_level | levelClass}}">
        {{user.username}}
        <small class="label label-default">{{user.access_level | levelClass}}</small>
      </h3>
      <br />
      {{user.institute.name}} ({{user.institute.province}})
      <br />
      <img class="avatar img-thumbnail" src="http://gravatar.com/avatar/{{user.mail_hash}}?d=identicon&s=200"/>
    </div>
  </div>
</div>
